@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins&family=Shadows+Into+Light&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    max-width: 1500px;
    margin: 0.005rem auto;
    float: none;
    font-family: Manrope, sans-serif;
    letter-spacing: 0.125rem;
    background-color: #f0f0f0;
    position: relative;
    padding-bottom: 11.25rem;
}

header {
    height: 5.625rem;
    width: 100%;
}

/* h2 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    color: #494454;
    letter-spacing: 2px;
    text-decoration: none;
} */

p {
    font-family: Manrope, sans-serif;
    color: #494454;
}

.active {
    border-bottom: 0.125rem solid #494454;
}

.center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.vertical-center {
    top: 50%;
    transform: translateY(-50%);
}

#logo {
    font-family: Shadows Into Light, sans-serif;
    color: #191970;
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
    float: left;
    margin-left: 1.25rem;
    line-height: 4.6875rem;
}

#nav-menu {
    float: right;
    line-height: 75px;
}

#nav-menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: #494454;
    font-size: 120%;
    letter-spacing: 2px;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
}

#nav-menu a:hover {
    border-bottom: 2px solid #494454;
}

#main-image {
    position: relative;
    height: 351px;
    width: 100%;
}

#hero-image {
    height: 600px;
    width: 100%;
    position: absolute;  
}

#about-us {
    height: 37.5rem;
    width: 100%;
    color: #494454;
    font-size: 1.5rem;
    line-height: 3.125rem;
    text-align: right;
    letter-spacing: 0.15rem;
}

#about-us p {
    font-size: 1.7rem;
    line-height: 2.6rem;
    margin-top: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

#bakery-image {
    border-radius: 0.625rem;
    margin: 5rem 4.3rem;
    opacity: 0.7;
    float: right;
}

#text-about {
    margin: 8rem;
    width: 30rem;
    float: left;
}

span {
    color:#191970;
    font-weight: 1000;
}

#bakery-menu {
    height: 37.5rem;
    width: 100%;
}

#bakery-menu h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 4rem;
    /* padding-top: 2%;
    padding-bottom: 4%; */
}

#bakery-menu a {
    text-decoration: none;
    color: #494454;
}

#bakery-menu div{
    display: inline-block;
}

.image {
    border-radius: 10px;
}

.scale {
    max-width: 100%;
    height: auto;
}

.container {
    position: relative;
    width: 20.7%;
    margin-right: 1.8rem;
    margin-left: 1.8rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, .85);
    border-radius: 10px;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: #494454;
    font-size: 2.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#footer {
    height: 180px;
    width: 100%;
    background-color: #606060;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    /* margin-top: 0; */
    /* top: 0;
    left: 0;
    right: 0;
    clear: both; */
}

#footer p {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.05rem;
}

#footer div {
    width: 33%;
    float: left;
    text-align: center;
    line-height: 30px;
    padding-top: 2%;
    padding-bottom: 1%;
}

#footer li {
    display: inline;
}

#footer i {
    font-size: 280%;
    margin: 1%;
    padding: 5%; 
    color: white;
}

#footer h2 {
    color: white;
    font-size: 1.3rem;
    padding: 0.3rem;

}

#footer h3 {
    color: white;
    font-size: 100%;
}

#gallery-images {
    clear: both;
    line-height: 50px;
    column-count: 4;
    column-gap: 0;
    margin: 3%;
}

#gallery-images > img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

#contact-us-image {
    background-image: url("../images/pancakes.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    min-height: 70rem;
}

#contact-us {
    width: 80rem;
    margin: 2rem auto;
}

.contact-us {
    height: 56rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: left;
    padding: 2rem;
    color: #494454;
    line-height: 1.875rem;
    letter-spacing: 0.13rem;
    margin: 1rem;
}

#contact-us h2 {
    letter-spacing: 0.25rem;
    font-size: 170%;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#left-white-bg {
    width: 25rem;
    float: left;
}

#right-white-bg {
    width: 43rem;
    float: right;
}

h3 {
    color: #494454;
    letter-spacing: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#contact-us-details {
    color: #494454; 
    /* line-height: 30px; */
    padding-top: 2rem;
    /* font-size: 1rem; */
}

#contact-us-details h2 {
    text-transform: none;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

#contact-us-details > p {
    font-size: 1rem;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 1.5rem;
}

input {
    width: 90%;
    height: 35px;
    border: 1px solid #494454;
    border-radius: 5px;
    font-size: 100%;
    padding-left: 10px;
    margin-bottom: 2rem;
}

label {
    font-size: 120%;
    font-weight: bold;
    color: #494454;
}

textarea {
    border: 1px solid #494454;
    border-radius: 5px;
    font-size: 100%;
    padding-left: 10px;
    padding-top: 5px;
    font-family: Manrope;
}

.submit-button {
    height: 60px;
    width: 200px;
    margin-top: 4%;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 130%;
    background-color: #494454;
    color: white;
    display: block;
}

.submit-button:hover {
    background-color: white;
    color: #494454;
}

#google-map {
    border: 2px solid black;
    overflow: hidden;
}

.radio-input {
    height: 15px;
    width: 15px;
    margin-right: 10%;
}

@media screen and (max-width: 1300px) {

#bakery-image {
        margin: 4% 2% auto auto;
}

#bakery-menu {
        width: 80%;
        height: 450px;
        margin: 0 auto;
}

#bakery-menu img {
    width: 100%;
    height: auto;
}

.container {
    margin-right: 2%;
    margin-left: 1%;
    margin-top: 2%;
}

#gallery-images {
    column-gap: 2%;
}

#left-white-bg {
    float: none;
    margin: 5rem auto;
}

#right-white-bg {
    float: none;
    margin: 5rem auto;
}

}
