@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins&family=Shadows+Into+Light&display=swap');


:root {
    --midnight-blue: #191970;
    --light-grey: #f0f0f0;
    --medium-grey: #494454;
    --blue-grey: #CDDEEE;
}

/* set default margin/padding/border to 0/none, and boxsizing to border-box*/

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* General styling applied to multiple elements */

body {
    max-width: 1500px;
    margin: 0.005rem auto;
    font-family: Manrope, sans-serif;
    background-color: #f0f0f0;
    position: relative;
    padding-bottom: 11.25rem;
}

h2 {
    font-family: Manrope, sans-serif;
    letter-spacing: 0.125rem;
    color: #494454;
}

p {
    font-family: Poppins, sans-serif;
    color: #494454;
}

.image {
    border-radius: 0.625rem;
}

.scale {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #494454;
}

/* headings and logo */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5.625rem;
    flex-wrap: wrap;
}

.active {
    border-bottom: 0.125rem solid #494454;
}

#logo {
    font-family: Shadows Into Light, sans-serif;
    color: #191970;
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
    margin-left: 1.25rem;
}

.button {
    margin-left: auto;
    margin-right: 3rem;
}

button {
    font-size: 1rem;
    color: #494454;
    background-color: #CDDEEE;
    height: 2.8rem;
    padding: 0.8rem;
    border-radius: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    box-shadow: 0rem 0rem 0.313rem 0.063rem #191970;
}

button:hover {
    background-color: #ffffff;
    color: #494454;
}

#nav-menu {
    display: flex;
    justify-content: flex-end;
}

#nav-menu li {
    list-style-type: none;
    margin-right: 1.875rem;
    font-size: 1.2rem;
    letter-spacing: 0.125rem;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
}

#nav-menu a:hover {
    border-bottom: 0.125rem solid #494454;
}

/* hero image */

#hero-image-section {
    display: flex;
    width: 100%;
    height: auto;
}

#hero-image-section h2 {
    display: none;
}

#hero-image {
    width: 100%;
    height: auto;
}

/* styling for about-us section */

#about-us-section {
    width: 100%;
    margin: 3rem 0;
}

#about-us-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
}

#text-about {
    width: 70%;
}

#text-about h2 {
    font-size: 2.2rem;
    line-height: 3.4rem;
    text-align: right;
}

#text-about p {
    font-size: 1.7rem;
    line-height: 2.8rem;
    margin-top: 2.5rem;
    letter-spacing: 0.1rem;
    text-align: right;
}

span {
    color:#191970;
    font-weight: 1000;
}

#bakery-image {
    width: 80%;
    border-radius: 0.625rem;
    opacity: 0.7;
}

/* styling for bakery menu section */

#bakery-menu {
    width: 100%;
    margin-top: 0;
    margin-bottom: 2rem;
}

#bakery-menu h2 {
    font-size: 2.5rem;
    text-align: center;
}

#bakery-menu a {
    text-decoration: none;
    color: #494454;
}

#menu-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    position: relative;
    margin: 3rem;
}

.menu-image{
    width: 100%;
    border-radius: 0.625rem;
    position: relative;
}

.grid-container{
    display: grid;
    position: relative;
}

.overlay {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(255, 255, 255, .85);
    position: absolute;
    top: 0;
    bottom: 0;
}

.grid-container:hover .overlay {
    opacity: 1;
}

.text {
    font-size: 2.3rem;
    position: absolute;
    display: grid;
    text-align: center;
}

/* footer styling */

#footer {
    height: 11rem;
    width: 100%;
    background-color: #CDDEEE;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer div {
    text-align: center;
    line-height: 1.875rem;
    padding-top: 1rem;
}

#footer h2 {
    font-size: 1.3rem;
    padding: 0.5rem;
}

#footer p {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.1rem;
    letter-spacing: 0.15rem;
}

#footer li {
    display: inline;
}

#footer i {
    color: #494454;
    font-size: 2.8rem;
    margin: 0.07rem;
    padding: 1rem; 
}

/* Gallery page styling */

#gallery-images {
    line-height: 3.125rem;
    column-count: 4;
    margin: 0.03rem;
}

#gallery-images h2 {
    display: none;
}

#gallery-images > img {
    border-radius: 0.625rem;
    max-width: 100%;
    height: auto;
}

/* Contact Us page styling */

#contact-us-image {
    background-image: url("../images/contact-us/pancakes.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    min-height: 70rem;
}

#contact-us {
    width: 76rem;
    margin: 2rem auto;
}

.contact-us {
    height: 58rem;
    border-radius: 0.625rem;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: left;
    padding: 2rem;
    color: #494454;
    line-height: 1.875rem;
    letter-spacing: 0.13rem;
    margin: 1rem;
}

#contact-us h2 {
    letter-spacing: 0.25rem;
    font-size: 170%;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#left-white-bg {
    width: 28rem;
    float: left;
}

#right-white-bg {
    width: 43rem;
    float: right;
}

h3 {
    color: #494454;
    letter-spacing: 0.125rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#contact-us-details {
    color: #494454; 
    padding-top: 2rem;
}

#contact-us-details h2 {
    text-transform: none;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.125rem;
}

#contact-us-details p {
    font-size: 0.9rem;
    font-weight: 800;
    line-height: 1.5625rem;
    margin-bottom: 1.5rem;
}

input {
    width: 90%;
    height: 2.1875rem;
    border: 0.0625rem solid #494454;
    border-radius: 0.3125rem;
    font-size: 100%;
    padding-left: 0.625rem;
    margin-bottom: 2rem;
}

label {
    font-size: 1.2rem;
    font-weight: 800;
    color: #494454;
}

textarea {
    height: 10rem;
    width: 21.5rem;
    border: 0.0625rem solid #494454;
    border-radius: 0.3125rem;
    font-size: 1rem;
    padding-left: 0.625rem;
    padding-top: 0.625rem;
    font-family: Manrope;
}

.submit-button {
    height: 3.75rem;
    width: 12.5rem;
    margin-top: 0.04rem;
    border-radius: 0.625rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    background-color: #494454;
    color: #ffffff;
    display: block;
}

.submit-button:hover {
    background-color: #ffffff;
    color: #494454;
}

#google-map {
    border: 0.125rem solid #000000;
    overflow: hidden;
}

.radio-input {
    height: 0.9375rem;
    width: 0.9375rem;
    margin-right: 2rem;
}

/* Media queries */

/* For screen size from 1250px and down*/

@media screen and (max-width: 1250px) {

#contact-us {
    width: 100%;
}

#left-white-bg {
    float: none;
    margin: 2rem auto;
}

#right-white-bg {
    float: none;
    margin: 2rem auto;
}

.text {
    font-size: 2rem;
}
}

/* For screen size from 1140px and down*/

@media screen and (max-width: 1140px) {

#about-us-content {
    grid-template-columns: 1fr;
    gap: 2rem;
}

#text-about {
    width: 50%;
}

#text-about h2{
    text-align: center;
}

#text-about p{
    text-align: center;
}

#bakery-image {
    width: 50%
}

#menu-container {
    grid-template-columns: 1fr 1fr;
    width: 65%;
    margin: 3rem auto;
}

.text {
    font-size: 2rem;
}
}

/* For screen size from 850px and down*/

@media screen and (max-width: 850px) {

#nav-menu {
    float: left;
    clear: both;
    margin-left: 1.25rem;
}

#menu-container {
    grid-template-columns: 1fr;
    width: 35%;
    margin: 3rem auto;
    gap: 3rem;
}

#gallery-images {
    margin-top: 5rem;
}

#gallery-images {
    column-count: 3;
}
}

/* For screen size from 780px and down*/

@media screen and (max-width: 780px) {

#footer p {
    font-size: 0.9rem;
}

#footer h2 {
    font-size: 1.2rem;
}

#footer i {
    font-size: 2.3rem;
}
}

/* For screen size from 730px and down*/

@media screen and (max-width: 730px) {

#right-white-bg {
    width: 28.75rem;
}
    
.text {
    font-size: 1.8rem;
}

#footer p {
    font-size: 0.8rem;
    line-height: 1.5rem;
}

#footer h2 {
    font-size: 1rem;
}

#footer i {
    font-size: 2rem;
    margin: 0.05rem;
    padding: 0.8rem;
}
}

/* For screen size from 650px and down*/

@media screen and (max-width: 650px) {

#menu-container {
    width: 37%;
}

#footer p {
    font-size: 0.7rem;
}

#footer h2 {
    font-size: 0.9rem;
}

#footer i {
    font-size: 1.5rem;
    padding: 0.6rem;
}
}

/* For screen size from 500px and down*/

@media screen and (max-width: 500px) {

#nav-menu li {
    line-height: 3rem;
    font-size: 1rem;
}

#about-us-section {
    margin: 2rem 0;
}

#text-about {
    width: 70%;
}

#text-about h2{
    font-size: 1.8rem;
}

#text-about p {
    margin-top: 1rem;
    font-size: 1.4rem;
}

#bakery-image {
    width: 60%;
}

#bakery-menu {
    margin-bottom: 0;
}

#menu-container {
    width: 40%;
}

#bakery-menu h2 {
    font-size: 2rem;
}

.text {
    font-size: 1.5rem;
}

#gallery-images {
    column-count: 2;
}

#contact-us h2 {
    font-size: 1.6rem;
}

#left-white-bg {
    width: 20rem;
}

#right-white-bg {
    width: 20rem;
}

label {
     font-size: 1rem;
}

#feedback {
    width: 15rem;
}
}

/* For screen size from 445px and down*/

@media screen and (max-width: 445px) {

#nav-menu li {
    line-height: 3rem;
    font-size: 0.8rem;
}

#footer p {
    font-size: 0.6rem;
    line-height: 1rem;
}

#footer h2 {
    font-size: 0.6rem;
}

#footer i {
    font-size: 1.4rem;
    padding: 0.4rem;
}

#gallery-images {
    column-count: 1;
    width: 70%;
    margin: 0 auto;
}
}

/* For screen size from 395px and down*/

@media screen and (max-width: 395px) {

#nav-menu li {
    font-size: 0.6rem;
}

.text {
    font-size: 1rem;
}
}

/* For screen size from 350px and down*/

@media screen and (max-width: 350px) {

#nav-menu li {
    font-size: 0.5rem;
}
}