@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Manrope, sans-serif;
    font-weight: 400px;
    background-color: #f2f1f4;
    color: black;
}

h2 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    color: #494454;
    letter-spacing: 2px;
    text-decoration: none;
}

header {
    height: 100px;
    width: 100%;
}

span {
    color:#191970;
    font-weight: bold;
}

#logo {
    font-family: Shadows Into Light, sans-serif;
    color: #191970;
    font-size: 2vw;
    letter-spacing: 4px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

#menu {
    font-size: 0.8vw;
    letter-spacing: 2px;
    float: right;
    margin-top: 10px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #494454;
    font-size: 150%;
}

#menu a:hover {
    border-bottom: 2px solid #494454;
}

.active {
    border-bottom: 2px solid #494454;
}

#main-image {
    position: relative;
    height: 600px;
    width: 100%;
}

#hero-image {
    position: absolute;
}

#cover-text {
    font-size: 1.3vw;
    font-family: Shadows Into Light, sans-serif;
    color: #494454;
    letter-spacing: 4px;
    background-color: rgba(255, 255, 255, .5);
    text-align: center;

    width: 700px;
    height: 150px;
    padding: 20px;
    border-radius: 30px;

    position: absolute;
    bottom: 10px;
}

#cover-text h2 {
    font-family: Shadows Into Light, sans-serif;
}

#cover-text h3 {
    color:#494454;
}

.center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.vertical-center {
    top: 50%;
    transform: translateY(-50%);
}

#about-us {
    height: 900px;
    width: 100%;
}

#right-about {
    height: 900px;
    width: 50%;
    float: right;
    position: relative;
}

#bakery-image {
    border-radius: 30px;
    position: absolute;
    left: 70px;
    margin-top: 5%;
}

#left-about {
    height: 900px;
    width: 50%;
    float: left;
    position: relative;
}

#text-about {
    height: 50%;
    width: 50%;
    position: absolute;
    right: 70px;
}

#text-about h2 {
    font-size: 1.5vw;
    text-align: right;
}

#text-about p {
    font-size: 1.5vw;
    padding: 5%;
    line-height: 50px;
    text-align: right;
}

#bakery-menu {
    height: 700px;
    width: 100%;
}

#bakery-menu h2 {
    font-size: 250%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#bakery-menu div{
    display: inline-block;
}

.image {
    border-radius: 30px;
}

.scale {
    max-width: 100%;
    height: auto;
}

.container {
    position: relative;
    width: 20.7%;
    margin-right: 2%;
    margin-left: 2%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 30px;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: #494454;
    font-size: 0.2vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#footer {
    height: 250px;
    width: 100%;
    background-color: #191970;
    opacity: .7;
}

#footer div {
    width: 33%;
    float: left;
    text-align: center;
    line-height: 40px;
    padding-top: 2%;
}

#footer li {
    display: inline;
}

#footer i {
    font-size: 300%;
    margin: 1%;
    padding: 5%; 
    color: white;
}

#footer h2, h3{
    color: white;
}

#gallery-images {
    clear: both;
    line-height: 50px;
    column-count: 4;
    column-gap: 0;
    margin: 5%;
}

#gallery-images > img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    border: 10px solid lightgrey;
}

#contact-us {
    height: 600px;
    width: 100%;
}

